.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal:;
  font-variation-settings: "wdth" 100;
 }
 /* share style */

 .secondary-background{ background-color: rgb(236, 211, 181); width: 100%;  padding-bottom: 0%; padding-top: 0%;
   }

.text-primary{color: #fd6e0a ;}

.dark-2{color: #474747;}
.btn-primary{ background-color: #FD6E0A;  
     font-weight: 700;     color: white; 
       padding: 18px 35px; border-radius: 5px; 
       font-size: 25px;  border: none;    }

.section-title{ font-size: 35px; font-weight: bold;      color: black;          }

.section-description{  font-size: 18px;      color: #757575 ;             }

.text-center{text-align: center;}


/* nav style */
nav{display: flex; align-items: 
    center;  justify-content: space-between ;      
     margin: 50px 200px;             
    }

.nav-title{font-weight: 800;font-size: 45px;}

nav ul li {    list-style: none; 
      margin-right: 50px;          
     }

nav ul li a {  text-decoration: none ;   
     font-size: 20px;                   
     }

nav ul { display: flex;  
     align-items: center;    
    }
    /* head */
     
    .header{background-image: url('../images/developer.png'),    url('../images/header_bg.png')           
        
        ; background-repeat: no-repeat; background-position: top left, bottom right; margin: 0;
        padding-top: 0%;

    }

    /* banner styles */


    .banner-gridings{   font-size: 45px;   font-weight: 600; padding-bottom: 0px;      }



    .banner-title{  font-size: 85px;   
     font-weight: bold;    
         }

    .banner-discription{  font-size: 18px; font-weight: normal; 
         color: #757575;       padding-bottom: 40px;  padding-top: 0px;  margin-bottom: 20px;                              
        }

    .banner-pro-img{ width: 580px;                  }

    .banner{display: flex; justify-content: space-between; margin: 0 35px 0 230px;}

    .banner-content{max-width: 580px;   padding:50px 70px ;  line-height: 20px;               }

     .con{background-color: aliceblue  ;
          font-weight: 700;   color: #FD6E0A ; 
            padding: 18px 35px; border-radius: 5px; 
            font-size: 25px;  border: 1px }

    /* main style */
     main{ max-width: 1140px; 
     margin: 0 auto;     }
     main section{ margin-top: 130px ; margin-bottom: 130px;          }



    /* about style  */
     .semi-bg{    width: 827px;  height: 288px;   background-color: aliceblue;  
     text-align: center; margin: 30px 30px 30px 30px; border-radius: 10px;
     
     }
     
     .about{  border-radius: 10px;   padding: 130px 150px; 
     text-align: center; margin-top: 60px ;margin-bottom: 60px; 
     background-color: rgb(236, 211, 181); width: 840px
     
       }

      .about-items{display: flex; 
     justify-content: space-around;
     width: 780px;   height: 60px;    }

     .item-title{  font-size: 18px;  margin-bottom: 0;          } 

     .item-description{ font-weight: 600;
          font-size: 22px;
     margin-top: 0; margin-bottom: 20px;
     }


     /* what i do skills */

.skils-container{display: flex;gap: 30px;margin-bottom: 50px;}
.skill{ padding: 30px;
box-shadow: 0px 6px 50px 0px black;}

.skills-description{ padding:30px ;                           }

/* resume section  */
.resume-container{ display: flex;    gap: 25px;           }

.Download-btn-cv{  margin-top: 50px;                    }
  /* footer section */
  .footer{ width: 1600 ;    
     height: 450px;   
     display: flex;    
     gap: 60px;
     padding-top: 50px;    
     padding-bottom: 100px;  
     padding-left: 150px;   
     padding-right: 150px;     }
        
        
.footer-colum {width: 50%;}
.footer-des{width: 50%; font-size: 18px;}


 footer input[ type="text"], footer input[ type="email"],   footer textarea  {  
      height: 40px;
      border-radius: 5px;  
      background-color: aliceblue;    
      display: block;  
      width: 60%;     
      padding: 10px 20px; 
      margin-bottom: 24px; 
       border: none; 
       font-size: 22px;   }

#imgs .img {   column-gap: 20px;             }       


